name: por la noche

on: 
  schedule:
    - cron: '*/2 * * * *'
    branches:
      - develop
    
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout commit
        uses: actions/checkout@v2

      - name: Set on JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Ejecucion Test Unitarios
        run: mvn -B '-Dtest=es.urjc.code.daw.library.unitary.*Test' test

      - name: Ejecucion Test API REST
        run: mvn -B '-Dtest=es.urjc.code.daw.library.e2e.rest.*Test' test

      - name: Ejecucion Test Selenium
        run: mvn -B '-Dtest=es.urjc.code.daw.library.e2e.selenium.*Test' test

      - name: Upload jar for next job
        uses: actions/upload-artifact@v2
        with:
          name: target
          path: target

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v2
        with:
          name: target
          path: target/*.jar
          retention-days: 1

  publish_in_dockerhub:
    name: Publish in DockerHub
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Download Jar from previous job
        uses: actions/download-artifact@v2
        with:
          name: target
      - name: Generate tag
        run: echo ::set-output name=tag::$(date +'%Y%m%d.%H%M%S')
        id: project
      - name: Login to DockerHub
        run: docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" -p "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: Build image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/dev-${{ steps.project.outputs.tag }} .
      - name: Push image to DockerHub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/dev-${{ steps.project.outputs.tag }}